h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.App {
  padding-top: 44px;
  padding: 50px 20px 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  font-size: 16px;
}

header nav {
  display: flex;
  padding: 0 20px;
}

header nav a {
  text-decoration: none;
  display: flex;
  line-height: 24px;
}

header a,
header button {
  display: flex;
  font-size: 16px;
  color: #3597ec;
  text-decoration: none;
  line-height: 24px;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
}

.notes {
  overflow: scroll;
}

.notes__item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
